@use "../variables" as var;

h1,
h2,
h3 {
  font-family: var.$font-inter;
  font-weight: 700;
  line-height: 1.1;
}

p {
  font-family: var.$font-lexend-deca;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
  // padding: 0 0.8rem;
}

a,
a:visited,
a:active {
  color: var.$soft-violet;
  text-decoration: none;
}
